<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>vue-todolist</title>
</head>
<body>
    <div id="app">
        <main>
            <h1>todo list</h1>
            <section class="todoListContainer">
                <ul class="ulLista">
                        <li class="itemList" v-for="(item, index) in todoList" key="index">
                            <div @click="toggClassDone(index)" :class="(item.done === true) ? 'done' : ''">
                                {{item.text}}
                            </div>
                            <div @click="removeItemTodo(index)">
                                X
                            </div>
                    </li>
                </ul>
                <div class="inputTodoList">
                    <label for="newTodoListItem">Inserisci una nuova task:</label>
                    <input id="newTodoListItem" type="text" v-model="newTask" @keyup.enter="addItemTodo(newTask)">
                    <button @click="addItemTodo(newTask)">Aggiungi</button>
                </div>
            </section>
    
        </main>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>
</html>